.Rightsidebar_wrapper {
  position: fixed;
  right: 0;
  height: 100vh;
  width: auto;
  background-color: transparent;
}

.Rightsidebar_padding {
  height: 100vh;
  width: 150px;
  padding: 0px 30px;
  display: flex-end;
  justify-content: center;
}

.Rightsidebar_navigator {
  position: relative;
  top: 30%;
}

@media only screen and (max-width: 992px) {
  .Rightsidebar_navigator {
    display: none;
  }
}

.Marker_div {
  text-align: right;
  width: 200px;
}

.Marker {
  display: flex;
  justify-content: center;
  padding: 10px 0px;
}


.dots {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
}

.whitedot {
  height: 9px;
  width: 9px;
  background-color: white;
  border-radius: 50%;
  display: inline-block;
}

.Scroll_text {
  color: white;
  transform: rotate(90deg);

  /* Legacy vendor prefixes that you probably don't need... */

  /* Safari */
  -webkit-transform: rotate(90deg);

  /* Firefox */
  -moz-transform: rotate(90deg);

  /* IE */
  -ms-transform: rotate(90deg);

  /* Opera */
  -o-transform: rotate(90deg);
}

.Scroll_down {
  position: absolute;
  bottom: 0;
  right: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 20px;
  padding-bottom: 20px;
}

.Scroll_text_div,
.Scroll_arrow_down {
  padding: 10px 0px;
}

.Scroll_arrow_down {
  display: flex;
  justify-content: center;
}




.Marker_circle1, .Marker_circle2,
.Marker_circle3{
  -moz-border-radius: 50px/50px;
  -webkit-border-radius: 50px 50px;
  border-radius: 50px/50px;
  border: solid 3px transparent;
  position: absolute;
  width: 24px;
  height: 24px;

}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.active {
  border: solid 3px #00E0FF;
  animation: fadeIn 1s;
  
}

.Marker_text1,
.Marker_text2,
.Marker_text3,
.Marker_text4 {
  color: transparent;
  font-size: 15px;
}

.Marker_text_active{
  color: #fff;
  animation: fadeIn 1s;
}

