.Leftsidebar_wrapper {
  position:absolute;
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
}

.Leftsidebar_wrapper_padding {
  height: 100vh;
  width: 75px;
  display: block;
  text-align: center;
  position: relative;
  
  
}

.Left_Social_Links_icons{
  position: fixed;
  top: 25%;
  left: 25px;
  padding-top: 50px;
  padding-bottom: 50px;
}



.Contact_Links_icons {
    position: fixed;
    bottom: 0;
    left: 25px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

.Social_Links_icons_div,
.Contact_Links_icons_div {
    padding: 10px 0px;
    color: #fff;
}

.Social_Links_icons_div:hover{
    color: aqua;
}

.Contact_Links_icons_div:hover{
    color: aqua;
}

@media only screen and (max-width: 991px) {
    .Leftsidebar_wrapper{
        display: none;
    }

}

