@font-face {
  font-family: atmospheric;
  src: url(../misc/aAtmospheric.ttf);
}

.Navbar_wrapper {
  width: 100%;
  height: auto;
  color: white;
  position: fixed;
  background-color: transparent;
}

.Navbar_padding {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px;
}

.Brand_Logo {
  font-family: atmospheric;
}

.Navbar_Links {
  display: flex;
}

#navlinks {
  text-decoration: none;
  list-style-type: none;
  padding: 0px 20px;
  font-weight: 100;
  color: white;
}

#navlinks:hover {
  color: aqua;
}

.toggle {
  display: none;
  cursor: pointer;
}

#Mobile_div {
  display: none;
}

@media only screen and (max-width: 768px) {
  .Navbar_wrapper {
    background-color: #000;
  }

  .toggle {
    display: flex;
  }

  .Navbar_Links {
    display: none;
  }

  #Mobile_div {
    height: 50vh;
    width: 100%;
    position: absolute;
    background-color: rgb(0, 0, 0);
    z-index: 2;
  }

  .Mobile_div_padding {
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  .Mobile_Links {
    text-align: center;
    animation: fadeIn 1s;
    display: block;
    width: 100vw;
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .Mobile_navlinks {
    margin: 20px auto;
  }

  .Mobile_navlinks a {
    text-decoration: none;
    list-style-type: none;
    font-size: 30px;
    color: #ffffff;
  }

  .Nav_Social_Links_icons_padding {
    display: flex;
    justify-content: center;
    padding: 10px 50px;
  }

  .Nav_Social_Links_icons_div {
    padding: 0px 5%;
  }
}
