@font-face {
  font-family: atmospheric;
  src: url(../misc/aAtmospheric.ttf);
}

.Navbar_wrapper {
  width: 100%;
  height: auto;
  color: white;
  position: fixed;
}

.Navbar_padding {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 30px;
}

h1 {
  font-family: atmospheric;
}

.Navbar_Links {
  display: flex;
}

#navlinks {
  text-decoration: none;
  list-style-type: none;
  padding: 0px 20px;
  font-weight: 100;
  color: white;
}

#navlinks:hover {
  color: aqua;
}

.toggle {
  display: none;
  cursor: pointer;
}

#Mobile_div {
  display: none;
}

@media only screen and (max-width: 768px) {
  .toggle {
    display: flex;
  }

  .Navbar_Links {
    display: none;
  }
  
  #Mobile_div{
    height: 50vh;
    width: 100%;
    position: absolute;
    background-color: #000;
  }
  
  .Mobile_Links{
    text-align: center;
    animation: fadeIn 1s;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  
  .Mobile_navlinks{
    margin: 20px auto;
  }
  
  .Mobile_navlinks a{
    text-decoration: none;
    list-style-type: none;
    font-size: 30px;
    color:#ffffff;
  }
  
}

