@font-face {
  font-family: atmospheric;
  src: url(./misc/aAtmospheric.otf);
}

.Navbar_wrapper {
  width: 100%;
  height: auto;
  color: white;
  position: fixed;
}

.Navbar_padding {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 50px;
}

h1 {
  font-family: atmospheric;
}

.Navbar_Links ul {
  display: flex;
}

.Navbar_Links ul li {
  text-decoration: none;
  list-style-type: none;
  padding: 0px 20px;
  font-weight: 100;
}
